<!DOCTYPE html>
<html>
<head>
	<title>jQuery Mobile</title>
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<link rel="stylesheet" href="/css/style.css">
	<!--<link rel="stylesheet" href="../public/css/style.css">-->
	<script src="/js/three.js"></script>
	<!--<script src="../public/js/three.js"></script>-->
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script type="text/javascript" src='/js/socket.io.js'></script>
	<!--<script type="text/javascript" src='../public/js/socket.io.js'></script>-->

	<script>

    </script>
</head>
<body>


	<div data-role="page" id="main">
		<div data-role="header">
			<button data-icon="delete">Pause</button>
			<h1>Game Controller</h1>
			<button data-icon="check">Resume</button>
		</div>
		<div data class="ui-content">
			<div class="ui-btn ui-input-btn ui-shadow" id="upBtn">
				<input type="button" data-corners="false" data-icon="arrow-u" data-enhanced="false" onmousedown="upPressed()" onmouseup="upReleased()"></input>
			</div>

			<div class="ui-btn ui-input-btn ui-shadow" id="leftBtn">
				<input type="button" data-corners="false" data-icon="arrow-l" data-enhanced="false" onmousedown="leftPressed()" onmouseup="leftReleased()"></input>
			</div>

			<div class="ui-btn ui-input-btn ui-shadow" id="rightBtn">
				<input type="button" data-corners="false" data-icon="arrow-r" data-enhanced="false" onmousedown="rightPressed()" onmouseup="rightReleased()"></input>
			</div>

			<div class="ui-btn ui-input-btn ui-shadow" id="downBtn">
				<input type="button" data-corners="false" data-icon="arrow-d" data-enhanced="false" onmousedown="downPressed()" onmouseup="downReleased()"></input>
			</div>
		</div>
	</div>


	<script>

        var socket = io();

        var buttonState1 = false;

        var buttonState2 = false;

        var buttonState3 = false;

        var buttonState4 = false;

        socket.on('canStop', function(data){
            console.log('back');

            buttonState1 = true;
            buttonState2 = true;
            buttonState3 = true;
            buttonState4 = true;

		});

		function upPressed(){
		    buttonState1 = false;
            buttonState2 = false;
            buttonState3 = false;
            buttonState4 = false;
		    socket.emit('control', 1);
		}

		function upReleased(){
            if(buttonState1) {
                socket.emit('control', 0);
                console.log('ugh');
            }
		}

        function rightPressed() {
            buttonState1 = false;
            buttonState2 = false;
            buttonState3 = false;
            buttonState4 = false;
            socket.emit('control', 2);
        }

        function rightReleased(){
    		if(buttonState2){
				socket.emit('control', 0);
            }
		}

        function downPressed(){
            buttonState1 = false;
            buttonState2 = false;
            buttonState3 = false;
            buttonState4 = false;
			socket.emit('control', 3);
        }

        function downReleased(){
            if(buttonState3){
				socket.emit('control', 0);
            }
		}

        function leftPressed(){
            buttonState1 = false;
            buttonState2 = false;
            buttonState3 = false;
            buttonState4 = false;
            socket.emit('control', 4);
        }

        function leftReleased(){
            if(buttonState4){
            	socket.emit('control', 0);
            }
        }


	</script>


</body>
</html>