<!DOCTYPE html>
<html>
<head>
	<title>jQuery Mobile</title>
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<link rel="stylesheet" href="/css/style.css">
	<script src="/js/three.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script type="text/javascript" src='/js/socket.io.js'></script>

	<script>

    </script>
</head>
<body>


	<div data-role="page" id="main">
		<div data-role="header">
			<button data-icon="delete">Pause</button>
			<h1>Game Controller</h1>
			<button data-icon="check">Resume</button>
		</div>
		<div data class="ui-content">
			<div class="ui-btn ui-input-btn ui-shadow" id="upBtn">
				<input type="button" data-corners="false" data-icon="arrow-u" data-enhanced="false" onmousedown="upPressed()" onmouseup="upReleased()"></input>
			</div>

			<div class="ui-btn ui-input-btn ui-shadow" id="leftBtn">
				<input type="button" data-corners="false" data-icon="arrow-l" data-enhanced="false" onmousedown="leftPressed()" onmouseup="leftReleased()"></input>
			</div>

			<div class="ui-btn ui-input-btn ui-shadow" id="rightBtn">
				<input type="button" data-corners="false" data-icon="arrow-r" data-enhanced="false" onmousedown="rightPressed()" onmouseup="rightReleased()"></input>
			</div>

			<div class="ui-btn ui-input-btn ui-shadow" id="downBtn">
				<input type="button" data-corners="false" data-icon="arrow-d" data-enhanced="false" onmousedown="downPressed()" onmouseup="downReleased()"></input>
			</div>
		</div>
	</div>


	<script>

        var socket = io();

//		function letSend(variable){
//			//requestAnimationFrame(letSend);
//            if(variable == 1){
//                socket.emit('control', 1);
//            }else if(variable == 2){
//                socket.emit('control', 2);
//            }else if(variable == 3){
//                socket.emit('control', 3);
//            }else if(variable == 4){
//                socket.emit('control', 4);
//            }else if({
//                socket.emit('control', 0);
//            }
//			setTimeout(function(){
//				letSend();
//			},100);
//		}


		function upPressed(){
//		    letSend(1);
		    socket.emit('control', 1);
		}

		function upReleased(){
//		    letSend(0);
            socket.emit('control', 0);
		}

        function rightPressed(){
//			letSend(2);
            socket.emit('control', 2);
        }

        function rightReleased(){
			socket.emit('control', 0);

		}

        function downPressed(){
//            letSend(3);
			socket.emit('control', 3);
        }

        function downReleased(){
			socket.emit('control', 0);

		}

        function leftPressed(){
//            letSend(4);
            socket.emit('control', 4);
        }

        function leftReleased(){
            socket.emit('control', 0);
		}


	</script>


</body>
</html>